img{
    width: 100%;
}
/*顶部开始*/
.m_header{
    /*width: 100%;*/
    max-width: 7.5rem;
    min-width: 3.2rem;
    height: 0.88rem;
    background: #e8190f;
    margin: 0 auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}
.m_header .m_header_left{
    width: 1.16rem;
    height: 0.68rem;
    position: absolute;
    left: 0.2rem;
    top: 0.1rem;
}
.m_header .m_header_left img{
    height: 100%;
}
.m_header .m_header_right{
    width: 0.66rem;
    height: 0.66rem;
    font-size: 0.66rem;
    position: absolute;
    right: 0.30rem;
    top: 0.12rem;
    color: white;
}
.m_header .m_header_rightyi{
    width: 0.48rem;
    height: 0.48rem;
    font-size: 0.48rem;
    position: absolute;
    right: 1.38rem;
    top: 0.20rem;
    color: white;
}
.m_header .m_search{
    width: 100%;
    height: 0.66rem;
    margin-top: 0.12rem;
}
.m_header .m_search form{
    width: 100%;
    height: 100%;
    padding: 0 1.92rem 0 1.84rem;
    position: relative;
}
.m_header .m_search form input::-webkit-input-placeholder {
    color: #eee;
}
.m_header .m_search form input[type=button]{
    width: 0.38rem;
    height: 0.38rem;
    font-size: 0.38rem;
    background: transparent;
    color: white;
    position: absolute;
    top: 0.10rem;
}
.m_header .m_search form input[type=text]{
    width: 100%;
    height: 100%;
    background: #e8190f;
    font-size: 0.3rem;
    padding-left: 0.6rem;
    border-bottom: 0.02rem solid #fff;
    color: white;
}
/*顶部结束*/
/*banner开始*/
.main_wrap{ margin-top: 0.88rem; background:white; width: 800px;}
.banner{
    width: 100%;
}
.banner .swiper-container{ width: 100%;}
.banner img{
    width: 100%;
}
.main_wrap .banner .swiper-pagination-bullet {
    width: 0.16rem;
    height: 0.16rem;
    background: black;
    opacity: .7;
}
.main_wrap .banner .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
}
/*banner结束*/
/*优惠券开始*/
.youhuiquan{
    width: 2.00rem;
    height: 1.70rem;
    background: #d6d6d6;
    margin-top: 0.18rem;
    margin-left: 0.12rem;
    float: left;
}
.youhuiquan p{
    font-size: 0.28rem;
    color: #080808;
    padding-top: 0.54rem;
    text-align: center;
}
.youhuiquan .biankuang{
    width: 1.58rem;
    height: 0.30rem;
    border: 1px solid #656565;
    margin: 0 auto;
    font-size: 0.2rem;
    text-align: center;
    margin-top: 0.12rem;
}
.RMB{
    width: 1.62rem;
    height: 1.70rem;
    background: #f22a37;
    float: left;
    margin-top: 0.18rem;
    margin-left: 0.14rem;
}
.RMB p{
    font-size: 0.22rem;
    text-align: center;
    color: #eeeeee;
}
.RMB .er{
    font-size: 0.64rem;
    color: #eeeeee;
    font-family: "苹方 中等";
}
.RMB .baisekuang{
    width: 1.62rem;
    height: 0.30rem;
    background: white;
    font-size: 0.20rem;
    color: #f32a34;
    text-align: center;
    margin-top: -0.10rem;
}
.RMB .dianjilingqu{
    color: #eeeeee;
    font-size: 0.22rem;
    text-align: center;
}
.RMB .mianyou{
    font-size: 0.68rem;
    color: #eeeeee;
    text-align: center;
    margin-bottom: 0.23rem;
}
/*优惠券结束*/
/*图标开始*/
nav ul li{
    float: left;
    width: 20%;

}
nav ul li a img{
    width: 0.92rem;
    height: 1.14rem;
    display: inline-block;
    margin: 0.20rem;

}
nav ul li a p{
    text-align: center;
    font-size: 0.26rem;
    margin-right: 0.40rem;
}
/*图标结束*/
/*图片开始*/
.tupian .yi{
    margin-top: 0.20rem;
    width: 3.56rem;
    height: 4.46rem;
    float: left;
    margin-left: 0.22rem;
}
.tupian .er{
    margin-top: 0.20rem;
    width: 3.46rem;
    height: 1.90rem;
    float: left;
    margin-left: 0.08rem;
}
.tupian .san{
    width: 3.46rem;
    height: 2.50rem;
    float: left;
    margin-left: 0.08rem;
    margin-top: 0.08rem;
}
/*图片结束*/
/*HOT开始*/
.HOT{
    width:100%;
    height: 100%;
    margin-top: 0.20rem;
}
.HOT .shang{
    width: 7.10rem;
    height: 0.90rem;
    background: #ececec;
    font-size: 0.38rem;
    text-align: center;
    padding-top: 0.18rem;
    position: relative;
    margin-left: 0.22rem;
}
.HOT .shang .dang{
    color: #da344a;
}
.HOT .shang .zuobian{
    width: 0.88rem;
    height: 0.03rem;
    background: #929292;
    position: absolute;
    top: 0.46rem;
    left: 1.48rem;
}
.HOT .shang .youbian{
    width: 0.88rem;
    height: 0.03rem;
    background: #929292;
    position: absolute;
    top: 0.46rem;
    right: 1.48rem;
}
.HOT .zuo{
    margin-left: 0.22rem;
}
.HOT .zuo .zuowenzi{
    width: 2.82rem;
    height: 2.88rem;
    position: relative;
    float: left;
}
.HOT .zuo .zuowenzi h4{
    padding-top: 0.26rem;
    text-align: center;
}
.HOT .zuo .zuowenzi p{
    color: #0f0f0f;
    font-size: 0.26rem;
    text-align: center;
    padding-top: 0.10rem;
}
.HOT .zuo .zuowenzi .k1{
    width: 0.46rem;
    height: 0.02rem;
    background: #979797;
    position: absolute;
    top: 0.88rem;
    left: 0.40rem;
}
.HOT .zuo .zuowenzi .k2{
    width: 0.46rem;
    height: 0.02rem;
    background: #979797;
    position: absolute;
    top: 0.88rem;
    right: 0.40rem;
}
.HOT .zuo .zuowenzi span{
    font-size: 0.24rem;
    text-align: center;
    width: 1.96rem;
}
.HOT .you img{
    width: 4.30rem;
    height: 2.88rem;
    float: left;
    margin-left: -0.02rem;
}
.HOT .xia{
    margin-left: 0.22rem;
}
.HOT .xia .wang{
    width: 2.34rem;
    height: 0.50rem;
    background: #808080;
    color: #eeeeee;
    text-align: center;
    padding-top: 0.04rem;
    float: left;
}
.HOT .xia .ban{
    width: 2.34rem;
    height: 0.50rem;
    background: #808080;
    color: #eeeeee;
    text-align: center;
    padding-top: 0.04rem;
    float: left;
    margin-left: 0.04rem;
}
.HOT .xia .qing{
    width: 2.34rem;
    height: 0.50rem;
    background: #ff6678;
    color: #eeeeee;
    text-align: center;
    padding-top: 0.04rem;
    float: left;
    margin-left: 0.04rem;
}
/*HOT结束*/
/*图片开始*/
.dierbo{
    width: 100%;
    height: 100%;
    margin-top: 0.20rem;
}
.dierbo .liu{
    width: 7.10rem;
    height: 1.64rem;
    margin-left: 0.22rem;
}
.dierbo .qi{
    width: 3.56rem;
    height: 2.06rem;
    margin-left: 0.22rem;
    float: left;
}
.dierbo .ba{
    width: 3.54rem;
    height: 2.06rem;
    float: left;
}
.dierbo .jiu{
    width: 3.56rem;
    height: 2.06rem;
    margin-left: 0.22rem;
    float: left;
}
.dierbo .shi{
    width: 3.54rem;
    height: 2.06rem;
    float: left;
}
.dierbo .shiyi{
    width: 7.10rem;
    height: 2.80rem;
    margin-left: 0.22rem;
}
/*图片结束*/
/*运动场馆开始*/
.yundong{
    max-width: 7.50rem;
    min-width: 3.2rem;
    height: 100%;
    margin-top: 0.20rem;
    margin-left: 0.22rem;
}
.yundong .yundongchangguan{
    width: 7.10rem;
    height: 0.90rem;
    background: #ececec;
    font-size: 0.38rem;
    text-align: center;
    padding-top: 0.18rem;
    position: relative;
}
.yundong .yundongchangguan .chang{
    color: #db334e;
}
.yundong .yundongchangguan .y1{
    width: 0.88rem;
    height: 0.03rem;
    background: #929292;
    position: absolute;
    top: 0.46rem;
    left: 1.48rem;
}
.yundong .yundongchangguan .y2{
    width: 0.88rem;
    height: 0.03rem;
    background: #929292;
    position: absolute;
    top: 0.46rem;
    right: 1.48rem;
}
.yundong .yuantupian .yyy{
    width: 4.50rem;
    float: left;
}
.yundong .yuantupian .yyy .shier{
    width: 2.10rem;
    height: 2.36rem;
    margin:0 auto;
}
.yundong .yuantupian .yyy .zi{
    font-size: 0.20rem;
    width: 100%;
    height: 0.40rem;
    text-align: center;
}
.yundong .yuantupian .eee{
    width: 1.40rem;
    float:left;
}
.yundong .yuantupian .eee .shisan{
    width: 2.10rem;
    height: 2.36rem;
    margin-left: -0.40rem;
}
.yundong .yuantupian .eee .zi{
    font-size: 0.20rem;
    width: 100%;
    height: 0.40rem;
    text-align: center;
}
.yundong .yuantupian .sss{
    width: 33.33%;
    float:left;
    margin-top: 0.10rem;
}
.yundong .yuantupian .sss .shisi{
    width: 2.10rem;
    height: 2.36rem;
    margin:0 auto;
}
.yundong .yuantupian .sss .zi{
    font-size: 0.20rem;
    width: 100%;
    height: 0.40rem;
    text-align: center;
}
.yundong .yuantupian .iii{
    width: 33.33%;
    float:left;
    margin-top: 0.10rem;
}
.yundong .yuantupian .iii .shiwu{
    width: 2.10rem;
    height: 2.36rem;
    margin:0 auto;
}
.yundong .yuantupian .iii .zi{
    font-size: 0.20rem;
    width: 100%;
    height: 0.40rem;
    text-align: center;
}
.yundong .yuantupian .www{
    width: 33.33%;
    float:left;
    margin-top: 0.10rem;
}
.yundong .yuantupian .www .shiliu{
    width: 2.10rem;
    height: 2.36rem;
    margin:0 auto;
}
.yundong .yuantupian .www .zi{
    font-size: 0.20rem;
    width: 100%;
    height: 0.40rem;
    text-align: center;
}

/*运动场馆结束*/
/*爆款推荐开始*/
.baokuan{
   width: 7.10rem;
    height: 100%;
    margin-top: 0.20rem;
    margin-left: 0.22rem;
}
.baokuan .baokuantuijian{
    width: 7.10rem;
    height: 0.90rem;
    background: #ececec;
    font-size: 0.38rem;
    text-align: center;
    padding-top: 0.18rem;
    position: relative;
}
.baokuan .baokuantuijian .chang{
    color: #db334e;
}
.baokuan .baokuantuijian .y1{
    width: 0.88rem;
    height: 0.03rem;
    background: #929292;
    position: absolute;
    top: 0.46rem;
    left: 1.48rem;
}
.baokuan .baokuantuijian .y2{
    width: 0.88rem;
    height: 0.03rem;
    background: #929292;
    position: absolute;
    top: 0.46rem;
    right: 1.48rem;
}
.baokuan .diqishizu img{
    width: 7.10rem;
    height: 3.38rem;
}
.baokuan .shangpin{
    width: 7.10rem;
    height: 100%;
    background: #9c9c9c;
    overflow: hidden;
}
.baokuan .shangpin .yi{
    width: 32%;
    height: 3.00rem;
    background: white;
    margin-left:1%;
    margin-top: 0.12rem;
    float:left;
    margin-bottom: 0.10rem;
}
.baokuan .shangpin .yi img{
    width: 2.20rem;
    height: 2.00rem;
    text-align: center;
}
.baokuan .shangpin .yi .xiao{
    font-size: 0.16rem;
    color: black;
    padding-left: 0.54rem;
}
.baokuan .shangpin .yi .da{
    font-size: 0.24rem;
    color: black;
}
.baokuan .shangpin .yi .b{
    background: black;
    width: 1.52rem;
    height: 0.28rem;
    color: #eeeeee;
    font-size: 0.20rem;
    text-align: center;
    margin-left: 0.36rem;
    margin-bottom: 0.24rem;
    margin-top: 0.10rem;
}
.baokuan .shangpin .yi .zuihou{
    color: #de2d2d;
    font-size: 0.26rem;
    text-align: center;
    margin-top: 1.40rem;
}
/*爆款推荐结束*/
/*跑步系列开始*/
.paobu{
    margin-top: 0.20rem;
    margin-left: 0.22rem;
}
.paobu .kaishi {
    width: 7.10rem;
    height: 6.76rem;
    background: url(../images/paobuxilie.jpg) no-repeat;
    position: relative;
    background-size: 100%;
}
.paobu .kaishi .diyige{
    width: 1.50rem;
    height: 0.84rem;
    background: #d81a1a;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 0.48rem;

}
.paobu .kaishi .dierge{
    width: 1.50rem;
    height: 0.84rem;
    background: #575757;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 2.1rem;
}
.paobu .kaishi .disange{
    width: 1.50rem;
    height: 0.84rem;
    background: #575757;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 3.7rem;
}
.paobu .kaishi .disige{
    width: 1.50rem;
    height: 0.84rem;
    background: #575757;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 5.3rem;
}
.paobu .kaishi .disige p{
   margin-top: 0.24rem;
}
.paobu .tutu {
    width: 7.10rem;
    height: 100%;
    background: #9c9c9c;
    overflow: hidden;
}
.paobu .tutu .yi{
    width: 32%;
    height: 3.00rem;
    background: white;
    margin-left:1%;
    margin-top: 0.12rem;
    float:left;
    margin-bottom: 0.10rem;
}
.paobu .tutu .yi img{
    width: 2.20rem;
    height: 2.00rem;
    text-align: center;
}
.paobu .tutu .yi .xiao{
    font-size: 0.16rem;
    color: black;
    padding-left: 0.54rem;
}
.paobu .tutu  .yi .da{
    font-size: 0.24rem;
    color: black;
}
.paobu .tutu  .yi .b{
    background: black;
    width: 1.52rem;
    height: 0.28rem;
    color: #eeeeee;
    font-size: 0.20rem;
    text-align: center;
    margin-left: 0.36rem;
    margin-bottom: 0.24rem;
    margin-top: 0.10rem;
}
.paobu .tutu .yi .zuihou{
    color: #de2d2d;
    font-size: 0.26rem;
    text-align: center;
    margin-top: 1.40rem;
}
/*跑步系列结束*/
/*训练系列开始*/
.xunlian{
    margin-top: 0.20rem;
    margin-left: 0.22rem;
    margin-bottom: 0.90rem;
}
.xunlian .kaishi {
    width: 7.10rem;
    height: 6.76rem;
    background: url(../images/xunlianxilie.jpg) no-repeat;
    position: relative;
    background-size: 100%;
}
.xunlian .kaishi .diyige{
    width: 1.50rem;
    height: 0.84rem;
    background: #d81a1a;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 0.48rem;

}
.xunlian .kaishi .dierge{
    width: 1.50rem;
    height: 0.84rem;
    background: #575757;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 2.1rem;
}
.xunlian .kaishi .dierge p{
    margin-top: 0.24rem;
}
.xunlian .kaishi .disange{
    width: 1.50rem;
    height: 0.84rem;
    background: #575757;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 3.7rem;
}
.xunlian .kaishi .disange p{
    margin-top: 0.24rem;
}
.xunlian .kaishi .disige{
    width: 1.50rem;
    height: 0.84rem;
    background: #575757;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    top: 5.90rem;
    left: 5.3rem;
}
.xunlian .kaishi .disige p{
    margin-top: 0.24rem;
}
.xunlian .tutu {
    width: 7.10rem;
    height: 100%;
    background: #9c9c9c;
    overflow: hidden;
}
.xunlian .tutu .yi{
    width: 32%;
    height: 3.00rem;
    background: white;
    margin-left:1%;
    margin-top: 0.12rem;
    float:left;
    margin-bottom: 0.10rem;
}
.xunlian .tutu .yi img{
    width: 2.20rem;
    height: 2.00rem;
    text-align: center;
}
.xunlian .tutu .yi .xiao{
    font-size: 0.16rem;
    color: black;
    padding-left: 0.54rem;
}
.xunlian .tutu  .yi .da{
    font-size: 0.24rem;
    color: black;
}
.xunlian .tutu  .yi .b{
    background: black;
    width: 1.52rem;
    height: 0.28rem;
    color: #eeeeee;
    font-size: 0.20rem;
    text-align: center;
    margin-left: 0.36rem;
    margin-bottom: 0.24rem;
    margin-top: 0.10rem;
}
.xunlian .tutu .yi .zuihou{
    color: #de2d2d;
    font-size: 0.26rem;
    text-align: center;
    margin-top: 1.40rem;
}
.x{
    width: 100%;
    height: 0.20rem;
    display: inline-block;
    background: white;
}
/*训练系列结束*/
/*底部开始*/
footer{
    width: 100%;
    max-width: 7.5rem;
    min-width: 3.2rem;
    height: 0.98rem;
    background: #515151;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
footer ul{
    width: 100%;
    height: 100%;
}
footer ul li{
    /*flex: 1;*/
    width: 25%;
    float: left;
    padding-top: 0.10rem;
    text-align: center;
    margin-top: 0.10rem;
}
footer ul li:nth-child(1) a{
    width: 0.62rem;
    height: 0.88rem;
    display: inline-block;
    background: url("../images/shouye.jpg") no-repeat top center;
    background-size: contain;
    margin: 0 auto;
}
footer ul li:nth-child(2) a{
    width: 0.62rem;
    height: 0.88rem;
    display: inline-block;
    background: url("../images/fenlei.jpg") no-repeat top center;
    background-size: contain;
    margin: 0 auto;
}
footer ul li:nth-child(3) a{
    width: 0.62rem;
    height: 0.88rem;
    display: inline-block;
    background: url("../images/gouwuche.jpg") no-repeat top center;
    background-size: contain;
    margin: 0 auto;
}
footer ul li:nth-child(4) a{
    width: 0.62rem;
    height: 0.88rem;
    display: inline-block;
    background: url("../images/wode.jpg") no-repeat top center;
    background-size: contain;
    margin: 0 auto;
}
/*底部结束*/

